Source: ros-kinetic-opencv3
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ffmpeg, libavcodec-dev, libavformat-dev, libavutil-dev, libjasper-dev, libjpeg8-dev, libpng12-dev, libqt4-dev, libqtgui4, libswscale-dev, libtiff5-dev, libv4l-dev, libvtk5-dev, python-dev, python-numpy, python-support, zlib1g-dev
Homepage: http://opencvg.org
Standards-Version: 3.9.2

Package: ros-kinetic-opencv3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ffmpeg, libavcodec-dev, libavformat-dev, libavutil-dev, libjasper-dev, libjpeg8-dev, libpng12-dev, libqtgui4, libswscale-dev, libvtk5-dev, python-dev, python-numpy, python-support, ros-kinetic-catkin, zlib1g-dev
Description: OpenCV 3.0
